﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

@*<h2>Index</h2>*@


<form class="form-horizontal">

    <div class="panel-default tabs">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#tab-first" role="tab" data-toggle="tab">STEP1:BUILDING PERMISSION DETAILS</a></li>
            <li><a href="#tab-second" role="tab" data-toggle="tab">STEP2:ATTACHMENTS</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab-first">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Authority</h3>
                        <ul class="panel-controls">
                            @*<li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>*@
                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                            @*<li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>*@
                        </ul>
                    </div>
                    <div class="panel-body">
                         <div class="form-group">
                                <label class="col-md-2 control-label">Select Your Urban Local Body Region</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Select Your Urban Local Body Region" area-required="true" />
                                </div>
                            </div>
                    </div>
                  
                </div>

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Development Parameters</h3>
                        <ul class="panel-controls">
                            @*<li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>*@
                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                            @*<li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>*@
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Permission Type</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Permission Type" />
                            </div>
                            <label class="col-md-2 control-label">Development Area</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Development Area" />
                            </div>

                        </div>
                       
                        <div class="form-group">
                            <label class="col-md-2 control-label">Special Control Area</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Special Control Area" />
                            </div>
                        </div>
                    </div>
                   
                </div>

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Ownership Details</h3>
                        <ul class="panel-controls">
                            @*<li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>*@
                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                            @*<li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>*@
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Applicant Name</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Applicant Name" />
                            </div>
                            <label class="col-md-2 control-label">Address For Correspondance</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Your email" />
                            </div>
                        </div>
                      
                        <div class="form-group">
                            <label class="col-md-2 control-label">Mobile Number</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Mobile Number" />
                            </div>
                            <label class="col-md-2 control-label">Email Id</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Email Id" />
                            </div>
                        </div>
                      
                        <div class="form-group">
                            <label class="col-md-2 control-label">Address of Land in Question</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Address of Land in Question" />
                            </div>
                            <label class="col-md-2 control-label">Applicants Interest/Title(ROR)</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Applicants Interest/Title(ROR)" />
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <label class="col-md-2 control-label">Plot area as per document</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Plot area as per document" />
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Land Details - Legal</h3>
                        <ul class="panel-controls">
                            @*<li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>*@
                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                            @*<li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>*@
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Land Description</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Land Description" />
                            </div>
                            <label class="col-md-2 control-label">District</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Land Description" />
                            </div>
                            <label class="col-md-2 control-label">Taluka</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="City" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Village</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="City" />
                            </div>
                            <label class="col-md-2 control-label">TPS Name and No</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="City" />
                            </div>
                            <label class="col-md-2 control-label">Revenue Village R.S. NO./Block No</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="City" />
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-2 control-label">Gamtal C.S. No</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="City" />
                            </div>
                            <label class="col-md-2 control-label">Sector No./Plot No</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="City" />
                            </div>
                            <label class="col-md-2 control-label">O.P No</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="City" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">F.P No</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="City" />
                            </div>
                            <label class="col-md-2 control-label">Subplot No</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="City" />
                            </div>
                            <label class="col-md-2 control-label">Tenament/Property No</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="City" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">City Servey Ward No</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="City" />
                            </div>
                            <label class="col-md-2 control-label">Abutting Road Width</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="City" />
                            </div>
                            <label class="col-md-2 control-label">Building Type</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="City" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Zone</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="City" />
                            </div>
                            <label class="col-md-2 control-label">Is Plot from Approved Layout?(Y/N)</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="City" />
                            </div>
                            <label class="col-md-2 control-label">Details of Approval Before Taken</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="City" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Type of Case for Application</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="City" />
                            </div>
                            <label class="col-md-2 control-label">Mean Sea Level(In Mtr)</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="City" />
                            </div>

                        </div>
                    </div>
                    
                </div>

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Is TDR Details</h3>
                        <ul class="panel-controls">
                            @*<li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>*@
                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                            @*<li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>*@
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">DRC NO</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="DRC NO" />
                            </div>
                            <label class="col-md-2 control-label">DRC OWNER</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="DRC OWNER" />
                            </div>
                            <label class="col-md-2 control-label">DRC AREA</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="DRC AREA" />
                            </div>
                        </div>
                    </div>
                   
                </div>

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Aerodrome Details</h3>
                        <ul class="panel-controls">
                            @*<li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>*@
                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                            @*<li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>*@
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Aerodrome Type</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Aerodrome Type" />
                            </div>
                            <label class="col-md-2 control-label">Aero Distance</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Aero Distance" />
                            </div>
                            <label class="col-md-2 control-label">Aero Distance Funnel</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Aero Distance Funnel" />
                            </div>
                        </div>
                    </div>
                  
                </div>

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Airport Authority Details</h3>
                        <ul class="panel-controls">
                            @*<li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>*@
                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                            @*<li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>*@
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-md-6 control-label">Does the site lies within the airport permises/within the land belonging to airport operator(Y/N)?</label>
                            <div class="col-md-1">
                                <label class="check"><input type="radio" class="iradio" name="rdoprmsn" /> Yes</label>
                            </div>
                            <div class="col-md-1">
                                <label class="check"><input type="radio" class="iradio" name="rdoprmsn" checked="checked" /> No</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 control-label">Have you obtained permission from Airport authority(Y/N)?</label>
                            <div class="col-md-1">
                                <label class="check"><input type="radio" class="iradio" name="rdoatrt" /> Yes</label>
                            </div>
                            <div class="col-md-1">
                                <label class="check"><input type="radio" class="iradio" name="rdoatrt" checked="checked" /> No</label>
                            </div>
                        </div>
                    </div>
                  
                </div>

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Occupancy Details</h3>
                        <ul class="panel-controls">
                            @*<li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>*@
                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                            @*<li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>*@
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Existing Land Occupancy Type</label>
                            <div class="col-md-1">
                                <label class="check"><input type="checkbox" class="icheckbox" /> Vacant</label>
                            </div>
                            <div class="col-md-1">
                                <label class="check"><input type="checkbox" class="icheckbox" /> Partly</label>
                            </div>
                            <div class="col-md-1">
                                <label class="check"><input type="checkbox" class="icheckbox" /> Built</label>
                            </div>
                            <div class="col-md-1">
                                <label class="check"><input type="checkbox" class="icheckbox" /> Fully Built</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Proposed Land Occupancy Type</label>
                            <div class="col-md-1">
                                <label class="check"><input type="checkbox" class="icheckbox" /> Vacant</label>
                            </div>
                            <div class="col-md-1">
                                <label class="check"><input type="checkbox" class="icheckbox" /> Partly</label>
                            </div>
                            <div class="col-md-1">
                                <label class="check"><input type="checkbox" class="icheckbox" /> Built</label>
                            </div>
                            <div class="col-md-1">
                                <label class="check"><input type="checkbox" class="icheckbox" /> Fully Built</label>
                            </div>
                        </div>
                    </div>
                   
                </div>

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Site Details</h3>
                        <ul class="panel-controls">
                            @*<li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>*@
                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                            @*<li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>*@
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">East</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="East" />
                            </div>
                            <label class="col-md-2 control-label">Other Details</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Other Details" />
                            </div>
                            <label class="col-md-2 control-label">Sub Details</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Sub Details" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Width of Road(in Mtr)</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Width of Road(in Mtr)" />
                            </div>
                            <label class="col-md-2 control-label">West</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="West" />
                            </div>
                            <label class="col-md-2 control-label">Other Details</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Other Details" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Sub Details</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Sub Details" />
                            </div>
                            <label class="col-md-2 control-label">Width of Road(in Mtr)</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Width of Road(in Mtr)" />
                            </div>
                            <label class="col-md-2 control-label">North</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="North" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Other Details</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Other Details" />
                            </div>
                            <label class="col-md-2 control-label">Sub Details</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Sub Details" />
                            </div>
                            <label class="col-md-2 control-label">Width of Road(in Mtr)</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Width of Road(in Mtr)" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">South</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="South" />
                            </div>
                            <label class="col-md-2 control-label">Other Details</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Other Details" />
                            </div>
                            <label class="col-md-2 control-label">Sub Details</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Sub Details" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Width of Road(in Mtr)</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Width of Road(in Mtr)" />
                            </div>
                            <label class="col-md-2 control-label">Seismic Zone(Y/N)</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Seismic Zone(Y/N)" />
                            </div>
                            <label class="col-md-2 control-label">Water Supply facility in Building unit</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Water Supply" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Details</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Details" />
                            </div>
                            <label class="col-md-2 control-label">Drainage facility in building unit</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="facility" />
                            </div>
                            <label class="col-md-2 control-label">Details</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Details" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">City Network(Y/N)</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="City Network(Y/N)" />
                            </div>
                            <label class="col-md-2 control-label">Percolation Pit(Y/N)</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Percolation Pit" />
                            </div>
                            <label class="col-md-2 control-label">Percolating Well(Y/N)</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Percolating Well" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Recharge Pit(Y/N)</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Recharge Pit" />
                            </div>
                            <label class="col-md-2 control-label">Solid Waste Disposal facility in building unit</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Solid Waste" />
                            </div>
                            <label class="col-md-2 control-label">Details</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Details" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Electricity Facility in Building unit</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="City" />
                            </div>
                            <label class="col-md-2 control-label">Details</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="City" />
                            </div>
                            <label class="col-md-2 control-label">Special Road</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="City" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">Whether Proposed Building is having common basement with adjoining plot?(Y/N)</label>
                            <div class="col-md-1">
                                <label class="check"><input type="radio" class="iradio" name="rdobuild" /> Yes</label>
                            </div>
                            <div class="col-md-1">
                                <label class="check"><input type="radio" class="iradio" name="rdobuild" checked="checked" /> No</label>
                            </div>

                        </div>
                    </div>
                    
                </div>

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Existing Land Use Detais</h3>
                        <ul class="panel-controls">
                            @*<li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>*@
                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                            @*<li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>*@
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Land Use Details</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Land Use Details" />
                            </div>
                            <label class="col-md-2 control-label">Land Sub Use  Details</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Land Sub Use  Details" />
                            </div>
                            <label class="col-md-2 control-label">Use Sub Type Details</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Use Sub Type Details" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Total Units</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Total Units" />
                            </div>
                            <label class="col-md-2 control-label">Maximum No. of Floors</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Maximum No. of Floors" />
                            </div>
                            <label class="col-md-2 control-label">Maximum Building Height(Mt)</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Maximum Building Height(Mt)" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Total Builtup Area(Sq.mt)</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Total Builtup Area(Sq.mt)" />
                            </div>
                        </div>
                    </div>
                  
                </div>

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Proposed Land Use Details</h3>
                        <ul class="panel-controls">
                            @*<li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>*@
                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                            @*<li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>*@
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Land Use Details</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Land Use Details" />
                            </div>
                            <label class="col-md-2 control-label">Land Sub Use Details</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Land Sub Use Details" />
                            </div>
                            <label class="col-md-2 control-label">Use Sub Type Details</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Use Sub Type Details" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">Total Units</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Total Units" />
                            </div>
                            <label class="col-md-2 control-label">Maximum No. of Floors</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Maximum No. of Floors" />
                            </div>
                            <label class="col-md-2 control-label">Maximum Building Height(Mt)</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Maximum Building Height(Mt)" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">Total Builtup Area(Sq.mt)</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Total Builtup Area(Sq.mt)" />
                            </div>
                        </div>
                    </div>
                   
                </div>

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Professional Details</h3>
                        <ul class="panel-controls">
                            @*<li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>*@
                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                            @*<li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>*@
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Architect License Number of Professional</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Architect License" />
                            </div>
                            <label class="col-md-3 control-label">Architect License Expiry Date</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Expiry Date" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Architect Name of Professional</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Architect Name" />
                            </div>
                            <label class="col-md-3 control-label">Structure License Number of Professional</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="License Number" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Structure license Expiry Date</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Expiry Date" />
                            </div>
                            <label class="col-md-3 control-label">Structure Name of Professional</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Structure Name" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Clerk License Number of Professional</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="License Number" />
                            </div>
                            <label class="col-md-3 control-label">Clerk License Expiry Date</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Expiry Date" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Clerk Name of Professional</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Clerk Name" />
                            </div>

                        </div>
                    </div>
                  
                </div>

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Application Details Update Request</h3>
                        <ul class="panel-controls">
                            @*<li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>*@
                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                            @*<li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>*@
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            
                            <label class="col-md-2 control-label">Reason for update</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Reason for update" />
                            </div>

                        </div>
                    </div>
                   
                </div>

              
                <div class="panel panel-footer" style="text-align:center">
                    <button class="btn btn-info">Submit</button>
                    <button class="btn btn-info">Clear</button>
                    <a href="#tab-second" class="btn btn-info" role="tab" data-toggle="tab">Next To Attachment</a>
                    @*<button type="button" class="btn btn-info">Next To Attachment</button>*@
                </div>


            </div>
            <div class="tab-pane" id="tab-second">
                <!-- START BORDERED TABLE SAMPLE -->
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Bordered table</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr.No.</th>
                                    <th>Checklist</th>
                                    <th>Document Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td><label class="check"><input type="checkbox" class="icheckbox" /> NOC from Appropriate Athority as Applicable</label></td>
                                    <td>
                                        <input type="file" class="fileinput btn-info" name="filename" id="filename" title="Browse file" />
                                    </td>
                                   
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td><label class="check"><input type="checkbox" class="icheckbox" checked="checked" disabled />Record of Rights (As declared in Form)*</label></td>
                                    <td><input type="file" class="fileinput btn-info" name="filename" id="filename" title="Browse file" /></td>
                                   
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td><label class="check"><input type="checkbox" class="icheckbox" checked="checked" disabled />Affidavit / Ownership Undertaking*</label></td>
                                    <td><input type="file" class="fileinput btn-info" name="filename" id="filename" title="Browse file" /></td>
                                    
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td><label class="check"><input type="checkbox" class="icheckbox" />Power of Attorney</label></td>
                                    <td><input type="file" class="fileinput btn-info" name="filename" id="filename" title="Browse file" /></td>

                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td><label class="check"><input type="checkbox" class="icheckbox" checked="checked" disabled />Notarized Form 2A,2B,2C&2D,2CA*</label></td>
                                    <td><input type="file" class="fileinput btn-info" name="filename" id="filename" title="Browse file" /></td>

                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td><label class="check"><input type="checkbox" class="icheckbox" checked="checked" disabled />Revenue Record (7/12(new),6A Haqpatrak,NA Order)*</label></td>
                                    <td><input type="file" class="fileinput btn-info" name="filename" id="filename" title="Browse file" /></td>

                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td><label class="check"><input type="checkbox" class="icheckbox" checked="checked" disabled />D.I.L.R/Certified Measurement Sheet*</label></td>
                                    <td><input type="file" class="fileinput btn-info" name="filename" id="filename" title="Browse file" /></td>

                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td><label class="check"><input type="checkbox" class="icheckbox" checked="checked" disabled />Layout and Building Plan*</label></td>
                                    <td><input type="file" class="fileinput btn-info" name="filename" id="filename" title="Browse file" /></td>

                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td><label class="check"><input type="checkbox" class="icheckbox" checked="checked" disabled />TP&DP Plan, Zoning Certificate, Certified F Form*</label></td>
                                    <td><input type="file" class="fileinput btn-info" name="filename" id="filename" title="Browse file" /></td>

                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td><label class="check"><input type="checkbox" class="icheckbox" checked="checked" disabled />Google Map Image*</label></td>
                                    <td><input type="file" class="fileinput btn-info" name="filename" id="filename" title="Browse file" /></td>

                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td><label class="check"><input type="checkbox" class="icheckbox" />Sanctioned Plan by Competent Authority</label></td>
                                    <td><input type="file" class="fileinput btn-info" name="filename" id="filename" title="Browse file" /></td>

                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td><label class="check"><input type="checkbox" class="icheckbox" checked="checked" disabled />Upload Signature*</label></td>
                                    <td><input type="file" class="fileinput btn-info" name="filename" id="filename" title="Browse file" /></td>

                                </tr>
                                <tr>
                                    <td>13</td>
                                    <td><label class="check"><input type="checkbox" class="icheckbox" checked="checked" disabled />In Case of Repairs / Renovation a report from a duly Authorised / Licenced Architect to be submitted by the applicant*</label></td>
                                    <td><input type="file" class="fileinput btn-info" name="filename" id="filename" title="Browse file" /></td>

                                </tr>
                                <tr>
                                    <td>14</td>
                                    <td><label class="check"><input type="checkbox" class="icheckbox" checked="checked" disabled />if the application is on the behalf of the Organisation / Firm, the Signature should be of the head of that organisation / Firm*</label></td>
                                    <td><input type="file" class="fileinput btn-info" name="filename" id="filename" title="Browse file" /></td>

                                </tr>
                                <tr>
                                    <td>15</td>
                                    <td><label class="check"><input type="checkbox" class="icheckbox" checked="checked" disabled />Encolse the photographs Showing the Monument and the existing Modern Construction*</label></td>
                                    <td><input type="file" class="fileinput btn-info" name="filename" id="filename" title="Browse file" /></td>

                                </tr>
                                <tr>
                                    <td>16</td>
                                    <td><label class="check"><input type="checkbox" class="icheckbox" checked="checked" disabled />Site Coordinates Certificate(WGS84 datum)*</label></td>
                                    <td><input type="file" class="fileinput btn-info" name="filename" id="filename" title="Browse file" /></td>

                                </tr>
                                <tr>
                                    <td>17</td>
                                    <td><label class="check"><input type="checkbox" class="icheckbox" checked="checked" disabled />Site Elevation Certificate*</label></td>
                                    <td><input type="file" class="fileinput btn-info" name="filename" id="filename" title="Browse file" /></td>

                                </tr>
                               
                            </tbody>
                        </table>
                        <p>I/We understand Shri/Smt/Kum<input type="text" placeholder="Shri/Smt/Kum" />hereby declared that I have applied, as an applicant/owner,for development permission for the land bearing Revenue survey no./city survey no.<input type="text" placeholder="survey no./city survey no." />of Village<input type="text" placeholder="Village" />of<input type="text" placeholder="Taluka" />Taluka of<input type="text" placeholder="District" />District.</p>
                        <p>I/We, hereby:-<p>
                        <p>
                            a)Submit the documents specified in the Schedule (checklist).
                            b)Declare on both that documents attached here with as mentioned in the check list and as requied under prevailing Comprehensive General Development Control Regulation-2017 are copies of the original documents and which are uploaded in my online application.
                        </p>
                        <p>in case of any discrepancy/authenticity of the data found in the aforesaid declaration or in the attachments, the application will automatically stand cancelled / revoked and the construction/ development carrid out shall be considered illegal and unauthorized and the competent authority shall take legal action to pulled down illegal construction and other legal action including initiating criminal proceedings. Consequent damage or loss on account of any legal action shall be at the cost of the owner or the applicant. Also, the owner or applicant shall have no right for any claim or damages on account of any action by the competent authority.</p>

                        <p><label class="check"><input type="checkbox" class="icheckbox" />I Agree</label></p>
                        <p>Date :  <input type="text" class="datepicker" id="todaydate"></p>
                        <p>Place : <input type="text" placeholder="Date" /></p>
                    </div>
                    
                   
                        
                    
                </div>
                <!-- END BORDERED TABLE SAMPLE -->
                <div class="panel panel-footer" style="text-align:center">
                    <a href="#tab-first" class="btn btn-info" role="tab" data-toggle="tab">Previous To Building Permission Details</a>
                    <button class="btn btn-info">Submit</button>
                    <button class="btn btn-info">Clear</button>
                    
                    @*<button type="button" class="btn btn-info">Next To Attachment</button>*@
                </div>
            </div>
           
        </div>
       
    </div>

</form>

<script type="text/javascript">
    var n = new Date();
    var y = n.getFullYear();
    var m = n.getMonth()+1;
    var d = n.getDate();
    document.getElementById("todaydate").value = y+"/"+m+"/"+d;
</script>

