﻿@model WebDcr.EDM.Tbl_Registration

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}


<div class="Register-body">
    @using (Html.BeginForm("Login", "Registration", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
    <div class="Register-title"><strong>Log-In</strong> to your account</div>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-6">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Login Id" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Password" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">

            <div class="col-md-3">
                <button class="btn btn-info btn-block">LogIn</button>
            </div>
        </div>


    </div>
    }
    
</div>
    <div class="Register-body">
        <div class="Register-or">OR</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
        <div class="Register-title"><strong>Register</strong> to your account</div>
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-6">
                    @Html.EditorFor(model => model.First_Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name" } })
                    @Html.ValidationMessageFor(model => model.First_Name, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Last_Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name" } })
                    @Html.ValidationMessageFor(model => model.Last_Name, "", new { @class = "text-danger" })
                </div>
            </div>
           
            <div class="form-group">
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Pan_Number, new { htmlAttributes = new { @class = "form-control", @placeholder = "Pan Number" } })
                    @Html.ValidationMessageFor(model => model.Pan_Number, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Company_Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Company Number" } })
                    @Html.ValidationMessageFor(model => model.Company_Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mobile Number" } })
                    @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email Id/Login Id" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password", @type = "Password" } })
                    @Html.ValidationMessageFor(model => model.Password, "",new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Re_Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Conferm Password", @type = "Password" } })
                    @Html.ValidationMessageFor(model => model.Re_Password, "", new { @class = "text-danger"})
                </div>
            </div>
           
            <div class="form-group">
                
                <div class="col-md-3">
                    <button class="btn btn-info btn-block">Register</button>
                </div>
            </div>
            
           

           
        </div>
}
    </div>

   





