﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Wizards.cshtml";
}

<!-- END X-NAVIGATION VERTICAL -->
<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Forms Stuff</a></li>
    <li class="active">Form Wizards</li>
</ul>
<!-- END BREADCRUMB -->
<!-- PAGE TITLE -->
<div class="page-title">
    <h2><span class="fa fa-arrow-circle-o-left"></span> Form Wizards</h2>
</div>
<!-- END PAGE TITLE -->
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
           
          
            <!-- START WIZARD WITH SUBMIT BUTTON -->
            <div class="block">
                @*<h4>Wizard With Submit</h4>*@
                <form action="javascript:alert('Submited!');" role="form" class="form-horizontal" id="wizard-validation">
                    <div class="wizard show-submit wizard-validation">
                        <ul>
                            <li>
                                <a href="#step-1">
                                    <span class="stepNumber">1</span>
                                    <span class="stepDesc">Authority<br /><small>Development Parameters</small></span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-2">
                                    <span class="stepNumber">2</span>
                                    <span class="stepDesc">Ownership<br /><small>Details</small></span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-3">
                                    <span class="stepNumber">3</span>
                                    <span class="stepDesc">Land Details<br /><small>Legal</small></span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-4">
                                    <span class="stepNumber">4</span>
                                    <span class="stepDesc">TDR and Aerodrome<br /><small>Details</small></span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-5">
                                    <span class="stepNumber">5</span>
                                    <span class="stepDesc">Airport & Occupancy<br /><small>Authority Details</small></span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-6">
                                    <span class="stepNumber">6</span>
                                    <span class="stepDesc">Site <br /><small>Details</small></span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-7">
                                    <span class="stepNumber">7</span>
                                    <span class="stepDesc">Existing Land<br /><small>Details</small></span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-8">
                                    <span class="stepNumber">8</span>
                                    <span class="stepDesc">Professional<br /><small>Details</small></span>
                                </a>
                            </li>

                        </ul>
                        <div id="step-1">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Select Your Urban Local Body Region</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Select Your Urban Local Body Region" area-required="true" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Permission Type</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Permission Type" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Development Area</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Development Area" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Special Control Area</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Special Control Area" />
                                </div>
                            </div>
                        </div>
                        <div id="step-2">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Applicant Name</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Applicant Name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Address For Correspondance</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Your email" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Mobile Number</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Mobile Number" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Email Id</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Email Id" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Address of Land in Question</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Address of Land in Question" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Applicants Interest/Title(ROR)</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Applicants Interest/Title(ROR)" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Plot area as per document</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Plot area as per document" />
                                </div>
                            </div>
                        </div>
                        <div id="step-3">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Land Description</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Land Description" />
                                </div>
                                <label class="col-md-2 control-label">District</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Land Description" />
                                </div>
                                <label class="col-md-2 control-label">Taluka</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="City" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Village</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="City" />
                                </div>
                                <label class="col-md-2 control-label">TPS Name and No</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="City" />
                                </div>
                                <label class="col-md-2 control-label">Revenue Village R.S. NO./Block No</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="City" />
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-md-2 control-label">Gamtal C.S. No</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="City" />
                                </div>
                                <label class="col-md-2 control-label">Sector No./Plot No</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="City" />
                                </div>
                                <label class="col-md-2 control-label">O.P No</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="City" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">F.P No</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="City" />
                                </div>
                                <label class="col-md-2 control-label">Subplot No</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="City" />
                                </div>
                                <label class="col-md-2 control-label">Tenament/Property No</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="City" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">City Servey Ward No</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="City" />
                                </div>
                                <label class="col-md-2 control-label">Abutting Road Width</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="City" />
                                </div>
                                <label class="col-md-2 control-label">Building Type</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="City" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Zone</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="City" />
                                </div>
                                <label class="col-md-2 control-label">Is Plot from Approved Layout?(Y/N)</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="City" />
                                </div>
                                <label class="col-md-2 control-label">Details of Approval Before Taken</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="City" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Type of Case for Application</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="City" />
                                </div>
                                <label class="col-md-2 control-label">Mean Sea Level(In Mtr)</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="City" />
                                </div>

                            </div>

                        </div>
                        <div id="step-4">

                            <div class="form-group">
                                <label class="col-md-2 control-label">DRC NO</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="DRC NO" />
                                </div>
                                <label class="col-md-2 control-label">DRC OWNER</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="DRC OWNER" />
                                </div>
                                <label class="col-md-2 control-label">DRC AREA</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="DRC AREA" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Aerodrome Type</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Aerodrome Type" />
                                </div>
                                <label class="col-md-2 control-label">Aero Distance</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Aero Distance" />
                                </div>
                                <label class="col-md-2 control-label">Aero Distance Funnel</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Aero Distance Funnel" />
                                </div>
                            </div>


                        </div>
                        <div id="step-5">
                            <div class="form-group">
                                <label class="col-md-6 control-label">Does the site lies within the airport permises/within the land belonging to airport operator(Y/N)?</label>
                                <div class="col-md-1">
                                    <label class="check"><input type="radio" class="iradio" name="rdoprmsn" /> Yes</label>
                                </div>
                                <div class="col-md-1">
                                    <label class="check"><input type="radio" class="iradio" name="rdoprmsn" checked="checked" /> No</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label">Have you obtained permission from Airport authority(Y/N)?</label>
                                <div class="col-md-1">
                                    <label class="check"><input type="radio" class="iradio" name="rdoatrt" /> Yes</label>
                                </div>
                                <div class="col-md-1">
                                    <label class="check"><input type="radio" class="iradio" name="rdoatrt" checked="checked" /> No</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label">Existing Land Occupancy Type</label>
                                <div class="col-md-1">
                                    <label class="check"><input type="checkbox" class="icheckbox" /> Vacant</label>
                                </div>
                                <div class="col-md-1">
                                    <label class="check"><input type="checkbox" class="icheckbox" /> Partly</label>
                                </div>
                                <div class="col-md-1">
                                    <label class="check"><input type="checkbox" class="icheckbox" /> Built</label>
                                </div>
                                <div class="col-md-1">
                                    <label class="check"><input type="checkbox" class="icheckbox" /> Fully Built</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label">Proposed Land Occupancy Type</label>
                                <div class="col-md-1">
                                    <label class="check"><input type="checkbox" class="icheckbox" /> Vacant</label>
                                </div>
                                <div class="col-md-1">
                                    <label class="check"><input type="checkbox" class="icheckbox" /> Partly</label>
                                </div>
                                <div class="col-md-1">
                                    <label class="check"><input type="checkbox" class="icheckbox" /> Built</label>
                                </div>
                                <div class="col-md-1">
                                    <label class="check"><input type="checkbox" class="icheckbox" /> Fully Built</label>
                                </div>
                            </div>

                        </div>
                        <div id="step-6">
                            <div class="form-group">
                                <label class="col-md-2 control-label">East</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="East" />
                                </div>
                                <label class="col-md-2 control-label">Other Details</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Other Details" />
                                </div>
                                <label class="col-md-2 control-label">Sub Details</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Sub Details" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Width of Road(in Mtr)</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Width of Road(in Mtr)" />
                                </div>
                                <label class="col-md-2 control-label">West</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="West" />
                                </div>
                                <label class="col-md-2 control-label">Other Details</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Other Details" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Sub Details</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Sub Details" />
                                </div>
                                <label class="col-md-2 control-label">Width of Road(in Mtr)</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Width of Road(in Mtr)" />
                                </div>
                                <label class="col-md-2 control-label">North</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="North" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Other Details</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Other Details" />
                                </div>
                                <label class="col-md-2 control-label">Sub Details</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Sub Details" />
                                </div>
                                <label class="col-md-2 control-label">Width of Road(in Mtr)</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Width of Road(in Mtr)" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">South</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="South" />
                                </div>
                                <label class="col-md-2 control-label">Other Details</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Other Details" />
                                </div>
                                <label class="col-md-2 control-label">Sub Details</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Sub Details" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Width of Road(in Mtr)</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Width of Road(in Mtr)" />
                                </div>
                                <label class="col-md-2 control-label">Seismic Zone(Y/N)</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Seismic Zone(Y/N)" />
                                </div>
                                <label class="col-md-2 control-label">Water Supply facility in Building unit</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Water Supply" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Details</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Details" />
                                </div>
                                <label class="col-md-2 control-label">Drainage facility in building unit</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="facility" />
                                </div>
                                <label class="col-md-2 control-label">Details</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Details" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">City Network(Y/N)</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="City Network(Y/N)" />
                                </div>
                                <label class="col-md-2 control-label">Percolation Pit(Y/N)</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Percolation Pit" />
                                </div>
                                <label class="col-md-2 control-label">Percolating Well(Y/N)</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Percolating Well" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Recharge Pit(Y/N)</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Recharge Pit" />
                                </div>
                                <label class="col-md-2 control-label">Solid Waste Disposal facility in building unit</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Solid Waste" />
                                </div>
                                <label class="col-md-2 control-label">Details</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Details" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Electricity Facility in Building unit</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="City" />
                                </div>
                                <label class="col-md-2 control-label">Details</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="City" />
                                </div>
                                <label class="col-md-2 control-label">Special Road</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="City" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">Whether Proposed Building is having common basement with adjoining plot?(Y/N)</label>
                                <div class="col-md-1">
                                    <label class="check"><input type="radio" class="iradio" name="rdobuild" /> Yes</label>
                                </div>
                                <div class="col-md-1">
                                    <label class="check"><input type="radio" class="iradio" name="rdobuild" checked="checked" /> No</label>
                                </div>

                            </div>
                        </div>
                        <div id="step-7">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Land Use Details</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Land Use Details" />
                                </div>
                                <label class="col-md-2 control-label">Land Sub Use  Details</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Land Sub Use  Details" />
                                </div>
                                <label class="col-md-2 control-label">Use Sub Type Details</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Use Sub Type Details" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Total Units</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Total Units" />
                                </div>
                                <label class="col-md-2 control-label">Maximum No. of Floors</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Maximum No. of Floors" />
                                </div>
                                <label class="col-md-2 control-label">Maximum Building Height(Mt)</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Maximum Building Height(Mt)" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Total Builtup Area(Sq.mt)</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Total Builtup Area(Sq.mt)" />
                                </div>
                            </div>


                            <div class="form-group">
                                <h4>Proposed Land Use Details :-</h4>
                                <label class="col-md-2 control-label">Land Use Details</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Land Use Details" />
                                </div>
                                <label class="col-md-2 control-label">Land Sub Use Details</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Land Sub Use Details" />
                                </div>
                                <label class="col-md-2 control-label">Use Sub Type Details</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Use Sub Type Details" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Total Units</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Total Units" />
                                </div>
                                <label class="col-md-2 control-label">Maximum No. of Floors</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Maximum No. of Floors" />
                                </div>
                                <label class="col-md-2 control-label">Maximum Building Height(Mt)</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Maximum Building Height(Mt)" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Total Builtup Area(Sq.mt)</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Total Builtup Area(Sq.mt)" />
                                </div>
                            </div>

                        </div>
                        <div id="step-8">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Architect License Number of Professional</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Architect License" />
                                </div>
                                <label class="col-md-3 control-label">Architect License Expiry Date</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Expiry Date" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">Architect Name of Professional</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Architect Name" />
                                </div>
                                <label class="col-md-3 control-label">Structure License Number of Professional</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="License Number" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">Structure license Expiry Date</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Expiry Date" />
                                </div>
                                <label class="col-md-3 control-label">Structure Name of Professional</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Structure Name" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">Clerk License Number of Professional</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="License Number" />
                                </div>
                                <label class="col-md-3 control-label">Clerk License Expiry Date</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Expiry Date" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">Clerk Name of Professional</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Clerk Name" />
                                </div>

                            </div>

                            <div class="form-group">
                                <h4>Application Details Update Request :-</h4>
                                <label class="col-md-2 control-label">Reason for update</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Reason for update" />
                                </div>

                            </div>

                        </div>

                    </div>
                </form>
            </div>
            <!-- END WIZARD WITH SUBMIT BUTTON -->
          
                   
                </div>
            </div>
            
        </div>

