﻿@model WebDcr.EDM.Tbl_DCR_Master

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

@*<h2>Create</h2>*@

@using (Html.BeginForm("Create", "DCR_Master", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()



    <div class="form-horizontal">

        <div class="panel-default tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#tab-first" role="tab" data-toggle="tab">STEP1:BUILDING PERMISSION DETAILS</a></li>
                <li><a href="#tab-second" role="tab" data-toggle="tab">STEP2:ATTACHMENTS</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab-first">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">Authority</h3>
                            <ul class="panel-controls">
                                @*<li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>*@
                                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                                @*<li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>*@
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Select Your Urban Local Body Region</label>
                                <div class="col-md-4">
                                    @Html.DropDownList("Authority", null, htmlAttributes: new { @class = "btn dropdown-toggle selectpicker btn-default"})
                                    @Html.ValidationMessageFor(model => model.Authority, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">Development Parameters</h3>
                            <ul class="panel-controls">
                                @*<li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>*@
                                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                                @*<li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>*@
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Permission Type</label>
                                <div class="col-md-4">
                                    @Html.DropDownList("Permission_Id", null, htmlAttributes: new { @class="form-control select" })
                                    @Html.ValidationMessageFor(model => model.Permission_Id, "", new { @class = "text-danger" })
                                   
                                </div>
                                <label class="col-md-2 control-label">Development Area</label>
                                <div class="col-md-4">
                                    @Html.DropDownList("Dev_Id", null, htmlAttributes: new { @class = "form-control select" })
                                    @Html.ValidationMessageFor(model => model.Dev_Id, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Special Control Area</label>
                                <div class="col-md-4">
                                    @Html.DropDownList("SpecialControl_Id", null, htmlAttributes: new { @class = "form-control select" })
                                    @Html.ValidationMessageFor(model => model.SpecialControl_Id, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">Ownership Details</h3>
                            <ul class="panel-controls">
                                @*<li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>*@
                                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                                @*<li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>*@
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Applicant Name</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Applicant_Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Applicant Name" } })
                                    @Html.ValidationMessageFor(model => model.Applicant_Name, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">Address For Correspondance</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Address_Corr, new { htmlAttributes = new { @class = "form-control", @placeholder = "Your email" } })
                                    @Html.ValidationMessageFor(model => model.Address_Corr, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Mobile Number</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mobile Number" } })
                                    @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">Email Id</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email Id" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Address of Land in Question</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Address_Land, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address of Land in Question" } })
                                    @Html.ValidationMessageFor(model => model.Address_Land, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">Applicants Interest/Title(ROR)</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Applicant_Interest, new { htmlAttributes = new { @class = "form-control", @placeholder = "Applicants Interest/Title(ROR)" } })
                                    @Html.ValidationMessageFor(model => model.Applicant_Interest, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Plot area as per document</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Plot_Area, new { htmlAttributes = new { @class = "form-control", @placeholder = "Plot area as per document" } })
                                    @Html.ValidationMessageFor(model => model.Plot_Area, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">Land Details - Legal</h3>
                            <ul class="panel-controls">
                                @*<li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>*@
                                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                                @*<li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>*@
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Land Description</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.Land_Description, new { htmlAttributes = new { @class = "form-control", placeholder = "Land Description" } })
                                    @Html.ValidationMessageFor(model => model.Land_Description, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">District</label>
                                <div class="col-md-2">
                                    @Html.DropDownList("District_Id", null, htmlAttributes: new { @class = "form-control", @placeholder = "Land Description" })
                                    @Html.ValidationMessageFor(model => model.District_Id, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">Taluka</label>
                                <div class="col-md-2">
                                    @Html.DropDownList("Taluka_Id", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Taluka_Id, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Village</label>
                                <div class="col-md-2">
                                    @Html.DropDownList("Village_Id", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Village_Id, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">TPS Name and No</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.Tps_NameNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "TPS Name and No" } })
                                    @Html.ValidationMessageFor(model => model.Tps_NameNumber, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">Revenue Village R.S. NO./Block No</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.RevenueVillage_No, new { htmlAttributes = new { @class = "form-control", @placeholder = "Revenue Village R.S. NO./Block No" } })
                                    @Html.ValidationMessageFor(model => model.RevenueVillage_No, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-md-2 control-label">Gamtal C.S. No</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.GamtalCS_No, new { htmlAttributes = new { @class = "form-control", @placeholder = "Gamtal C.S. No" } })
                                    @Html.ValidationMessageFor(model => model.GamtalCS_No, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">Sector No./Plot No</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.Sector_No, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sector No./Plot No" } })
                                    @Html.ValidationMessageFor(model => model.Sector_No, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">O.P No</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.OP_No, new { htmlAttributes = new { @class = "form-control", @placeholder = "O.P No" } })
                                    @Html.ValidationMessageFor(model => model.OP_No, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">F.P No</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.FP_No, new { htmlAttributes = new { @class = "form-control", @placeholder = "F.P No" } })
                                    @Html.ValidationMessageFor(model => model.FP_No, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">Subplot No</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.Subplot_No, new { htmlAttributes = new { @class = "form-control", @placeholder = "Subplot No" } })
                                    @Html.ValidationMessageFor(model => model.Subplot_No, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">Tenament/Property No</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.Tenament_No, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tenament/Property No" } })
                                    @Html.ValidationMessageFor(model => model.Tenament_No, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">City Servey Ward No</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.City_Servey_Ward_No, new { htmlAttributes = new { @class = "form-control", @placeholder = "City Servey Ward No" } })
                                    @Html.ValidationMessageFor(model => model.City_Servey_Ward_No, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">Abutting Road Width</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.Abutting_Road_Width, new { htmlAttributes = new { @class = "form-control", @placeholder = "Abutting Road Width" } })
                                    @Html.ValidationMessageFor(model => model.Abutting_Road_Width, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">Building Type</label>
                                <div class="col-md-2">
                                    @Html.DropDownList("BuildType_Id", null, htmlAttributes: new { @class = "form-control select" })
                                    @Html.ValidationMessageFor(model => model.BuildType_Id, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Zone</label>
                                <div class="col-md-2">
                                    @Html.DropDownList("Zone_Id", null, htmlAttributes: new { @class = "form-control select" })
                                    @Html.ValidationMessageFor(model => model.Zone_Id, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">Is Plot from Approved Layout?(Y/N)</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.IsPlot_Approved, new { htmlAttributes = new { @class = "form-control", @placeholder = "Is Plot from Approved Layout?(Y/N)" } })
                                    @Html.ValidationMessageFor(model => model.IsPlot_Approved, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">Details of Approval Before Taken</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.DetailsofApproval, new { htmlAttributes = new { @class = "form-control", @placeholder = "Details of Approval Before Taken" } })
                                    @Html.ValidationMessageFor(model => model.DetailsofApproval, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Type of Case for Application</label>
                                <div class="col-md-2">
                                    @Html.DropDownList("TypeCase_Id", null, htmlAttributes: new { @class = "form-control select", @placeholder = "Type of Case for Application" })
                                    @Html.ValidationMessageFor(model => model.TypeCase_Id, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">Mean Sea Level(In Mtr)</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.Mean_Sea_Level, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mean Sea Level(In Mtr)" } })
                                    @Html.ValidationMessageFor(model => model.Mean_Sea_Level, "", new { @class = "text-danger" })
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">Is TDR Details</h3>
                            <ul class="panel-controls">
                                @*<li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>*@
                                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                                @*<li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>*@
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-md-2 control-label">DRC NO</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.Drc_No, new { htmlAttributes = new { @class = "form-control", @placeholder = "DRC NO" } })
                                    @Html.ValidationMessageFor(model => model.Drc_No, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">DRC OWNER</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.Drc_Owner, new { htmlAttributes = new { @class = "form-control", @placeholder = "DRC OWNER" } })
                                    @Html.ValidationMessageFor(model => model.Drc_Owner, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">DRC AREA</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.Drc_Area, new { htmlAttributes = new { @class = "form-control", @placeholder = "DRC AREA" } })
                                    @Html.ValidationMessageFor(model => model.Drc_Area, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">Aerodrome Details</h3>
                            <ul class="panel-controls">
                                @*<li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>*@
                                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                                @*<li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>*@
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Aerodrome Type</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.Aerodrome_Type, new { htmlAttributes = new { @class = "form-control", @placeholder = "Aerodrome Type" } })
                                    @Html.ValidationMessageFor(model => model.Aerodrome_Type, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">Aero Distance</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.AeroDistance, new { htmlAttributes = new { @class = "form-control", @placeholder = "Aero Distance" } })
                                    @Html.ValidationMessageFor(model => model.AeroDistance, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">Aero Distance Funnel</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.AeroDistanceFunnel, new { htmlAttributes = new { @class = "form-control", @placeholder = "Aero Distance Funnel" } })
                                    @Html.ValidationMessageFor(model => model.AeroDistanceFunnel, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">Airport Authority Details</h3>
                            <ul class="panel-controls">
                                @*<li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>*@
                                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                                @*<li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>*@
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-md-6 control-label">Does the site lies within the airport permises/within the land belonging to airport operator(Y/N)?</label>
                                <div class="col-md-1">
                                    <label class="check">@Html.RadioButtonFor(model => model.AirportPermises, true, new { @class = "iradio" })Yes</label>
                                </div>
                                <div class="col-md-1">
                                    <label class="check">@Html.RadioButtonFor(model => model.AirportPermises, false, new { @class = "iradio" })No</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label">Have you obtained permission from Airport authority(Y/N)?</label>
                                <div class="col-md-1">
                                    <label class="check">@Html.RadioButtonFor(model => model.ObtainedPermission, true, new { @class = "iradio" })Yes</label>
                                </div>
                                <div class="col-md-1">
                                    <label class="check">@Html.RadioButtonFor(model => model.ObtainedPermission, false, new { @class = "iradio" })No</label>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">Occupancy Details</h3>
                            <ul class="panel-controls">
                                @*<li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>*@
                                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                                @*<li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>*@
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Existing Land Occupancy Type</label>
                                <div class="col-md-1">
                                    <label class="check">@Html.CheckBoxFor(model => model.Existing_Vacant, new { @class = "icheckbox" })Vacant</label>
                                </div>
                                <div class="col-md-1">
                                    <label class="check">@Html.CheckBoxFor(model => model.Existing_PartyBuilt, new { @class = "icheckbox" })Partly Built</label>
                                </div>
                                <div class="col-md-1">
                                    <label class="check">@Html.CheckBoxFor(model => model.Existing_FullyBuilt, new { @class = "icheckbox" })Fully Built</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Proposed Land Occupancy Type</label>
                                <div class="col-md-1">
                                    <label class="check">@Html.CheckBoxFor(model => model.Proposed_Vacant, new { @class = "icheckbox" })Vacant</label>
                                </div>
                                <div class="col-md-1">
                                    <label class="check">@Html.CheckBoxFor(model => model.Proposed_PartlyBuilt, new { @class = "icheckbox" })Partly Built</label>
                                </div>
                                <div class="col-md-1">
                                    <label class="check">@Html.CheckBoxFor(model => model.Proposed_FullyBuilt, new { @class = "icheckbox" })Fully Built</label>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">Site Details</h3>
                            <ul class="panel-controls">
                                @*<li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>*@
                                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                                @*<li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>*@
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-md-2 control-label">East</label>
                                <div class="col-md-2">
                                    @Html.DropDownList("East", null, htmlAttributes: new { @class = "form-control select" })
                                    @Html.ValidationMessageFor(model => model.East, "", new { @class = "text-danger" })
                                    
                                </div>
                                <label class="col-md-2 control-label">Other Details</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.East_OtherDetail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Other Details" } })
                                    @Html.ValidationMessageFor(model => model.East_OtherDetail, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">Sub Details</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.East_SubDetail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sub Details" } })
                                    @Html.ValidationMessageFor(model => model.East_SubDetail, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Width of Road(in Mtr)</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.East_WidthOfRoad, new { htmlAttributes = new { @class = "form-control", @placeholder = "Width of Road(in Mtr)" } })
                                    @Html.ValidationMessageFor(model => model.East_WidthOfRoad, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">West</label>
                                <div class="col-md-2">
                                    @Html.DropDownList("West", null, htmlAttributes: new { @class = "form-control select" })
                                    @Html.ValidationMessageFor(model => model.West, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">Other Details</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.West_OtherDetail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Other Details" } })
                                    @Html.ValidationMessageFor(model => model.West_OtherDetail, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Sub Details</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.West_SubDetail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sub Details" } })
                                    @Html.ValidationMessageFor(model => model.West_SubDetail, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">Width of Road(in Mtr)</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.West_WidthOfRoad, new { htmlAttributes = new { @class = "form-control", @placeholder = "Width of Road(in Mtr)" } })
                                    @Html.ValidationMessageFor(model => model.West_WidthOfRoad, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">North</label>
                                <div class="col-md-2">
                                    @Html.DropDownList("North", null, htmlAttributes: new { @class = "form-control select" })
                                    @Html.ValidationMessageFor(model => model.North, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Other Details</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.North_OtherDetail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Other Details" } })
                                    @Html.ValidationMessageFor(model => model.North_OtherDetail, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">Sub Details</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.North_SubDetail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sub Details" } })
                                    @Html.ValidationMessageFor(model => model.North_SubDetail, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">Width of Road(in Mtr)</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.North_WidthOfRoad, new { htmlAttributes = new { @class = "form-control", @placeholder = "Width of Road(in Mtr)" } })
                                    @Html.ValidationMessageFor(model => model.North_WidthOfRoad, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">South</label>
                                <div class="col-md-2">
                                    @Html.DropDownList("South", null, htmlAttributes: new { @class = "form-control select", @placeholder = "South" })
                                    @Html.ValidationMessageFor(model => model.South, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">Other Details</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.South_OtherDetail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Other Details" } })
                                    @Html.ValidationMessageFor(model => model.South_OtherDetail, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">Sub Details</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.South_SubDetail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sub Details" } })
                                    @Html.ValidationMessageFor(model => model.South_SubDetail, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Width of Road(in Mtr)</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.South_WidthOfRoad, new { htmlAttributes = new { @class = "form-control", @placeholder = "Width of Road(in Mtr)" } })
                                    @Html.ValidationMessageFor(model => model.South_WidthOfRoad, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">Seismic Zone(Y/N)</label>
                                <div class="col-md-1">
                                    <label class="check">@Html.RadioButtonFor(model => model.Seismic_Zone,true, new { @class = "iradio" })Yes</label>
                                </div>
                                <div class="col-md-1">
                                    <label class="check">@Html.RadioButtonFor(model => model.Seismic_Zone,false, new { @class = "iradio" })No</label>
                                </div>
                                <label class="col-md-2 control-label">Water Supply facility in Building unit</label>
                                <div class="col-md-2">
                                    @Html.DropDownList("WaterSupply", null, htmlAttributes: new { @class = "form-control select" })
                                    @Html.ValidationMessageFor(model => model.WaterSupply, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Details</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.Water_Details, new { htmlAttributes = new { @class = "form-control", @placeholder = "Details" } })
                                    @Html.ValidationMessageFor(model => model.Water_Details, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">Drainage facility in building unit</label>
                                <div class="col-md-2">
                                    @Html.DropDownList("DrainageFacility", null, htmlAttributes: new { @class = "form-control select" })
                                    @Html.ValidationMessageFor(model => model.DrainageFacility, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">Details</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.Drainage_Details, new { htmlAttributes = new { @class = "form-control", @placeholder = "Details" } })
                                    @Html.ValidationMessageFor(model => model.Drainage_Details, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">City Network(Y/N)</label>
                                <div class="col-md-1">
                                    <label class="check">@Html.RadioButtonFor(model => model.City_Network, true, new { @class = "iradio" })Yes</label>
                                </div>
                                <div class="col-md-1">
                                    <label class="check">@Html.RadioButtonFor(model => model.City_Network, false, new { @class = "iradio" })No</label>
                                </div>
                                <label class="col-md-2 control-label">Percolation Pit(Y/N)</label>
                                <div class="col-md-1">
                                    <label class="check">@Html.RadioButtonFor(model => model.Percolation_Pit, true, new { @class = "iradio" })Yes</label>
                                </div>
                                <div class="col-md-1">
                                    <label class="check">@Html.RadioButtonFor(model => model.Percolation_Pit, false, new { @class = "iradio" })No</label>
                                </div>
                                <label class="col-md-2 control-label">Percolating Well(Y/N)</label>
                                <div class="col-md-1">
                                    <label class="check">@Html.RadioButtonFor(model => model.Percolating_Well, true, new { @class = "iradio" })Yes</label>
                                </div>
                                <div class="col-md-1">
                                    <label class="check">@Html.RadioButtonFor(model => model.Percolating_Well, false, new { @class = "iradio" })No</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Recharge Pit(Y/N)</label>
                                <div class="col-md-1">
                                    <label class="check">@Html.RadioButtonFor(model => model.Recharge_Pit, true, new { @class = "iradio" })Yes</label>
                                </div>
                                <div class="col-md-1">
                                    <label class="check">@Html.RadioButtonFor(model => model.Recharge_Pit, false, new { @class = "iradio" })No</label>
                                </div>
                                <label class="col-md-2 control-label">Solid Waste Disposal facility in building unit</label>
                                <div class="col-md-2">
                                    @Html.DropDownList("SolidWaste", null, htmlAttributes: new { @class = "form-control select" })
                                    @Html.ValidationMessageFor(model => model.SolidWaste, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">Details</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.SolidWaste_Details, new { htmlAttributes = new { @class = "form-control", @placeholder = "Details" } })
                                    @Html.ValidationMessageFor(model => model.SolidWaste_Details, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Electricity Facility in Building unit</label>
                                <div class="col-md-2">
                                    @Html.DropDownList("ElectricFacility", null, htmlAttributes: new { @class = "form-control select" })
                                    @Html.ValidationMessageFor(model => model.ElectricFacility, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">Details</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.ElectricFacility_Details, new { htmlAttributes = new { @class = "form-control", @placeholder = "Details" } })
                                    @Html.ValidationMessageFor(model => model.ElectricFacility_Details, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">Special Road</label>
                                <div class="col-md-2">
                                    @Html.DropDownList("Special_Road", null, htmlAttributes: new { @class = "form-control select" })
                                    @Html.ValidationMessageFor(model => model.Special_Road, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">Whether Proposed Building is having common basement with adjoining plot?(Y/N)</label>
                                <div class="col-md-1">
                                    <label class="check">@Html.RadioButtonFor(model => model.Common_Basement, true, new { @class = "iradio" })Yes</label>
                                </div>
                                <div class="col-md-1">
                                    <label class="check">@Html.RadioButtonFor(model => model.Common_Basement, false, new { @class = "iradio" })No</label>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">Existing Land Use Detais</h3>
                            <ul class="panel-controls">
                                @*<li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>*@
                                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                                @*<li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>*@
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Land Use Details</label>
                                <div class="col-md-2">
                                    @Html.DropDownList("LandUse_Detail", null, htmlAttributes: new { @class = "form-control select" })
                                    @Html.ValidationMessageFor(model => model.LandUse_Detail, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">Land Sub Use  Details</label>
                                <div class="col-md-2">
                                    @Html.DropDownList("LandSubUse_Detail", null, htmlAttributes: new { @class = "form-control select" })
                                    @Html.ValidationMessageFor(model => model.LandSubUse_Detail, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">Use Sub Type Details</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.SubType_Detail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Use Sub Type Details" } })
                                    @Html.ValidationMessageFor(model => model.SubType_Detail, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Total Units</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.Total_Unit, new { htmlAttributes = new { @class = "form-control", @placeholder = "Total Units" } })
                                    @Html.ValidationMessageFor(model => model.Total_Unit, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">Maximum No. of Floors</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.Max_No_Floor, new { htmlAttributes = new { @class = "form-control", @placeholder = "Maximum No. of Floors" } })
                                    @Html.ValidationMessageFor(model => model.Max_No_Floor, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">Maximum Building Height(Mt)</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.Max_Building_Height, new { htmlAttributes = new { @class = "form-control", @placeholder = "Maximum Building Height(Mt)" } })
                                    @Html.ValidationMessageFor(model => model.Max_Building_Height, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Total Builtup Area(Sq.mt)</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.Total_BuiltUp, new { htmlAttributes = new { @class = "form-control", @placeholder = "Total Builtup Area(Sq.mt)" } })
                                    @Html.ValidationMessageFor(model => model.Total_BuiltUp, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">Proposed Land Use Details</h3>
                            <ul class="panel-controls">
                                @*<li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>*@
                                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                                @*<li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>*@
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Land Use Details</label>
                                <div class="col-md-2">
                                    @Html.DropDownList("Pro_LandUse_Detail", null, htmlAttributes: new { @class = "form-control select", @placeholder = "Land Use Details" })
                                    @Html.ValidationMessageFor(model => model.Pro_LandUse_Detail, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">Land Sub Use Details</label>
                                <div class="col-md-2">
                                    @Html.DropDownList("Pro_LandSubUse_Detail", null, htmlAttributes: new { @class = "form-control select" })
                                    @Html.ValidationMessageFor(model => model.Pro_LandSubUse_Detail, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">Use Sub Type Details</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.Pro_SubType_Detail, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Pro_SubType_Detail, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Total Units</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.Pro_Total_Unit, new { htmlAttributes = new { @class = "form-control", @placeholder = "Total Units" } })
                                    @Html.ValidationMessageFor(model => model.Pro_Total_Unit, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">Maximum No. of Floors</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.Pro_Max_No_Floor, new { htmlAttributes = new { @class = "form-control", @placeholder = "Maximum No. of Floors" } })
                                    @Html.ValidationMessageFor(model => model.Pro_Max_No_Floor, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-2 control-label">Maximum Building Height(Mt)</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.Pro_Max_Building_Height, new { htmlAttributes = new { @class = "form-control", @placeholder = "Maximum Building Height(Mt)" } })
                                    @Html.ValidationMessageFor(model => model.Pro_Max_Building_Height, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Total Builtup Area(Sq.mt)</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.Pro_Total_BuiltUp, new { htmlAttributes = new { @class = "form-control", @placeholder = "Total Builtup Area(Sq.mt)" } })
                                    @Html.ValidationMessageFor(model => model.Pro_Total_BuiltUp, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">Professional Details</h3>
                            <ul class="panel-controls">
                                @*<li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>*@
                                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                                @*<li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>*@
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Architect License Number of Professional</label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.Arc_Lic_No, new { htmlAttributes = new { @class = "form-control", @placeholder = "Architect License" } })
                                    @Html.ValidationMessageFor(model => model.Arc_Lic_No, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-3 control-label">Architect License Expiry Date</label>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Arc_Lic_ExpDate, new { htmlAttributes = new { @class = "form-control", @id = "dpid" } })
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">Architect Name of Professional</label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.Arc_Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Architect Name" } })
                                    @Html.ValidationMessageFor(model => model.Arc_Name, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-3 control-label">Structure License Number of Professional</label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.Stru_Lic_No, new { htmlAttributes = new { @class = "form-control", @placeholder = "License Number" } })
                                    @Html.ValidationMessageFor(model => model.Stru_Lic_No, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">Structure license Expiry Date</label>
                                <div class="col-md-3">
                                     <div class="input-group">
                                    @Html.EditorFor(model => model.Arc_Lic_ExpDate, new { htmlAttributes = new { @class = "form-control", @id = "dpid1" } })
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                                    </div>
                                <label class="col-md-3 control-label">Structure Name of Professional</label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.Stru_Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Structure Name" } })
                                    @Html.ValidationMessageFor(model => model.Stru_Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">Clerk License Number of Professional</label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.Clerk_Lic_No, new { htmlAttributes = new { @class = "form-control", @placeholder = "License Number" } })
                                    @Html.ValidationMessageFor(model => model.Clerk_Lic_No, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-3 control-label">Clerk License Expiry Date</label>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Arc_Lic_ExpDate, new { htmlAttributes = new { @class = "form-control", @id = "dpid2" } })
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">Clerk Name of Professional</label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.Clerk_Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Clerk Name" } })
                                    @Html.ValidationMessageFor(model => model.Clerk_Name, "", new { @class = "text-danger" })
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">Application Details Update Request</h3>
                            <ul class="panel-controls">
                                @*<li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>*@
                                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                                @*<li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>*@
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">

                                <label class="col-md-2 control-label">Reason for update</label>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.ResonForUpdate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Reason for update" } })
                                    @Html.ValidationMessageFor(model => model.ResonForUpdate, "", new { @class = "text-danger" })
                                </div>

                            </div>
                        </div>

                    </div>


                    <div class="panel panel-footer" style="text-align:center">
                        <input type="submit" value="Submit" class="btn btn-info" />
                        <button class="btn btn-info">Clear</button>
                        <a href="#tab-second" class="btn btn-info" role="tab" data-toggle="tab">Next To Attachment</a>
                        @*<button type="button" class="btn btn-info">Next To Attachment</button>*@
                    </div>


                </div>
                <div class="tab-pane" id="tab-second">
                    <!-- START BORDERED TABLE SAMPLE -->
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">Bordered table</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Sr.No.</th>
                                        <th>Checklist</th>
                                        <th>Document Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td><label class="check"><input type="checkbox" class="icheckbox" /> NOC from Appropriate Athority as Applicable</label></td>
                                        <td>
                                            <input type="file" class="fileinput btn-info" name="filename" id="filename" title="Browse file" />
                                            <span class="file-input-name">@Html.DisplayTextFor(model => model.Tbl_Document.Doc_Noc)</span>
                                            @Html.HiddenFor(model => model.Tbl_Document.Doc_Noc)
                                            
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td><label class="check"><input type="checkbox" class="icheckbox" checked="checked" disabled />Record of Rights (As declared in Form)*</label></td>
                                        <td><input type="file" class="fileinput btn-info" name="filename" id="filename" title="Browse file" />
                                            <span class="file-input-name">@Html.DisplayTextFor(model => model.Tbl_Document.Doc_Record)</span>
                                        @Html.HiddenFor(model => model.Tbl_Document.Doc_Record)</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td><label class="check"><input type="checkbox" class="icheckbox" checked="checked" disabled />Affidavit / Ownership Undertaking*</label></td>
                                        <td><input type="file" class="fileinput btn-info" name="filename" id="filename" title="Browse file" />
                                            <span class="file-input-name">@Html.DisplayTextFor(model => model.Tbl_Document.Doc_Affidavit)</span>
                                        @Html.HiddenFor(model => model.Tbl_Document.Doc_Affidavit)</td>

                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td><label class="check"><input type="checkbox" class="icheckbox" />Power of Attorney</label></td>
                                        <td><input type="file" class="fileinput btn-info" name="filename" id="filename" title="Browse file" />
                                            <span class="file-input-name">@Html.DisplayTextFor(model => model.Tbl_Document.Doc_Power)</span>
                                        @Html.HiddenFor(model => model.Tbl_Document.Doc_Power)</td>

                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td><label class="check"><input type="checkbox" class="icheckbox" checked="checked" disabled />Notarized Form 2A,2B,2C&2D,2CA*</label></td>
                                        <td><input type="file" class="fileinput btn-info" name="filename" id="filename" title="Browse file" />
                                            <span class="file-input-name">@Html.DisplayTextFor(model => model.Tbl_Document.Doc_Notarized)</span>
                                        @Html.HiddenFor(model => model.Tbl_Document.Doc_Notarized)</td>

                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td><label class="check"><input type="checkbox" class="icheckbox" checked="checked" disabled />Revenue Record (7/12(new),6A Haqpatrak,NA Order)*</label></td>
                                        <td><input type="file" class="fileinput btn-info" name="filename" id="filename" title="Browse file" />
                                            <span class="file-input-name">@Html.DisplayTextFor(model => model.Tbl_Document.Doc_Revenue)</span>
                                        @Html.HiddenFor(model => model.Tbl_Document.Doc_Revenue)</td>

                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td><label class="check"><input type="checkbox" class="icheckbox" checked="checked" disabled />D.I.L.R/Certified Measurement Sheet*</label></td>
                                        <td><input type="file" class="fileinput btn-info" name="filename" id="filename" title="Browse file" />
                                            <span class="file-input-name">@Html.DisplayTextFor(model => model.Tbl_Document.Doc_DILR)</span>
                                        @Html.HiddenFor(model => model.Tbl_Document.Doc_DILR)</td>

                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td><label class="check"><input type="checkbox" class="icheckbox" checked="checked" disabled />Layout and Building Plan*</label></td>
                                        <td><input type="file" class="fileinput btn-info" name="filename" id="filename" title="Browse file" />
                                            <span class="file-input-name">@Html.DisplayTextFor(model => model.Tbl_Document.Doc_Layout)</span>
                                        @Html.HiddenFor(model => model.Tbl_Document.Doc_Layout)</td>

                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td><label class="check"><input type="checkbox" class="icheckbox" checked="checked" disabled />TP&DP Plan, Zoning Certificate, Certified F Form*</label></td>
                                        <td><input type="file" class="fileinput btn-info" name="filename" id="filename" title="Browse file" />
                                            <span class="file-input-name">@Html.DisplayTextFor(model => model.Tbl_Document.Doc_TPDP)</span>
                                        @Html.HiddenFor(model => model.Tbl_Document.Doc_TPDP)</td>

                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td><label class="check"><input type="checkbox" class="icheckbox" checked="checked" disabled />Google Map Image*</label></td>
                                        <td><input type="file" class="fileinput btn-info" name="filename" id="filename" title="Browse file" />
                                            <span class="file-input-name">@Html.DisplayTextFor(model => model.Tbl_Document.Doc_Google)</span>
                                        @Html.HiddenFor(model => model.Tbl_Document.Doc_Google)</td>

                                    </tr>
                                    <tr>
                                        <td>11</td>
                                        <td><label class="check"><input type="checkbox" class="icheckbox" />Sanctioned Plan by Competent Authority</label></td>
                                        <td><input type="file" class="fileinput btn-info" name="filename" id="filename" title="Browse file" />
                                            <span class="file-input-name">@Html.DisplayTextFor(model => model.Tbl_Document.Doc_Sanctioned)</span>
                                        @Html.HiddenFor(model => model.Tbl_Document.Doc_Sanctioned)</td>

                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td><label class="check"><input type="checkbox" class="icheckbox" checked="checked" disabled />Upload Signature*</label></td>
                                        <td><input type="file" class="fileinput btn-info" name="filename" id="filename" title="Browse file" />
                                            <span class="file-input-name">@Html.DisplayTextFor(model => model.Tbl_Document.Doc_Upload)</span>
                                        @Html.HiddenFor(model => model.Tbl_Document.Doc_Upload)</td>

                                    </tr>
                                    <tr>
                                        <td>13</td>
                                        <td><label class="check"><input type="checkbox" class="icheckbox" checked="checked" disabled />In Case of Repairs / Renovation a report from a duly Authorised / Licenced Architect to be submitted by the applicant*</label></td>
                                        <td><input type="file" class="fileinput btn-info" name="filename" id="filename" title="Browse file" />
                                            <span class="file-input-name">@Html.DisplayTextFor(model => model.Tbl_Document.Doc_Repairs)</span>
                                        @Html.HiddenFor(model => model.Tbl_Document.Doc_Repairs)</td>

                                    </tr>
                                    <tr>
                                        <td>14</td>
                                        <td><label class="check"><input type="checkbox" class="icheckbox" checked="checked" disabled />if the application is on the behalf of the Organisation / Firm, the Signature should be of the head of that organisation / Firm*</label></td>
                                        <td><input type="file" class="fileinput btn-info" name="filename" id="filename" title="Browse file" />
                                            <span class="file-input-name">@Html.DisplayTextFor(model => model.Tbl_Document.Doc_application)</span>
                                        @Html.HiddenFor(model => model.Tbl_Document.Doc_application)</td>

                                    </tr>
                                    <tr>
                                        <td>15</td>
                                        <td><label class="check"><input type="checkbox" class="icheckbox" checked="checked" disabled />Encolse the photographs Showing the Monument and the existing Modern Construction*</label></td>
                                        <td><input type="file" class="fileinput btn-info" name="filename" id="filename" title="Browse file" />
                                            <span class="file-input-name">@Html.DisplayTextFor(model => model.Tbl_Document.Doc_Encolse)</span>
                                        @Html.HiddenFor(model => model.Tbl_Document.Doc_Encolse)</td>

                                    </tr>
                                    <tr>
                                        <td>16</td>
                                        <td><label class="check"><input type="checkbox" class="icheckbox" checked="checked" disabled />Site Coordinates Certificate(WGS84 datum)*</label></td>
                                        <td><input type="file" class="fileinput btn-info" name="filename" id="filename" title="Browse file" />
                                            <span class="file-input-name">@Html.DisplayTextFor(model => model.Tbl_Document.Doc_Coordinates)</span>
                                        @Html.HiddenFor(model => model.Tbl_Document.Doc_Coordinates)</td>

                                    </tr>
                                    <tr>
                                        <td>17</td>
                                        <td><label class="check"><input type="checkbox" class="icheckbox" checked="checked" disabled />Site Elevation Certificate*</label></td>
                                        <td><input type="file" class="fileinput btn-info" name="filename" id="filename" title="Browse file" />
                                            <span class="file-input-name">@Html.DisplayTextFor(model => model.Tbl_Document.Doc_Elevation)</span>
                                        @Html.HiddenFor(model => model.Tbl_Document.Doc_Elevation)</td>

                                    </tr>

                                </tbody>
                            </table>
                            <p>I/We understand Shri/Smt/Kum @Html.EditorFor(model => model.Tbl_Document.Name, new { @class = "form-control"}) @Html.ValidationMessageFor(model => model.Tbl_Document.Name) hereby declared that I have applied, as an applicant/owner,for development permission for the land bearing Revenue survey no./city survey no. @Html.EditorFor(model => model.Tbl_Document.Survey_No, new { @class = "form-control" }) of Village @Html.EditorFor(model => model.Tbl_Document.Village, new { @class = "form-control" })of @Html.EditorFor(model => model.Tbl_Document.Taluka, new { @class = "form-control" })Taluka of @Html.EditorFor(model => model.Tbl_Document.District, new { @class = "form-control" })District.</p>
                            <p>I/We, hereby:-<p>
                            <p>
                                a)Submit the documents specified in the Schedule (checklist).
                                b)Declare on both that documents attached here with as mentioned in the check list and as requied under prevailing Comprehensive General Development Control Regulation-2017 are copies of the original documents and which are uploaded in my online application.
                            </p>
                            <p>in case of any discrepancy/authenticity of the data found in the aforesaid declaration or in the attachments, the application will automatically stand cancelled / revoked and the construction/ development carrid out shall be considered illegal and unauthorized and the competent authority shall take legal action to pulled down illegal construction and other legal action including initiating criminal proceedings. Consequent damage or loss on account of any legal action shall be at the cost of the owner or the applicant. Also, the owner or applicant shall have no right for any claim or damages on account of any action by the competent authority.</p>

                            <p><label class="check">@Html.CheckBoxFor(model => model.Tbl_Document.isAgree, new { @class = "icheckbox" })I Agree</label>
                            @Html.ValidationMessageFor(model => model.Tbl_Document.isAgree,"Required", new { @class = "text-danger" })</p>
                            <p>Date :  @Html.EditorFor(model => model.Tbl_Document.Date, new { @class = "form-control" })</p>
                            <p>Place : @Html.EditorFor(model => model.Tbl_Document.Place, new { @class = "form-control" })</p>
                        </div>


                        

                    </div>
                    <!-- END BORDERED TABLE SAMPLE -->
                    <div class="panel panel-footer" style="text-align:center">
                        <a href="#tab-first" class="btn btn-info" role="tab" data-toggle="tab">Previous To Building Permission Details</a>
                        <button class="btn btn-info">Submit</button>
                        <button class="btn btn-info">Clear</button>

                        @*<button type="button" class="btn btn-info">Next To Attachment</button>*@
                    </div>
                </div>

            </div>

        </div>

    </div>
    
    <script type="text/javascript">
    var n = new Date();
    var y = n.getFullYear();
    var m = n.getMonth()+1;
    var d = n.getDate();
    document.getElementById("todaydate").value = y + "/" + m + "/" + d;
    document.getElementById("dpid").value = d + "/" + m + "/" + y;
    document.getElementById("dpid1").value = d + "/" + m + "/" + y;
    document.getElementById("dpid2").value = d + "/" + m + "/" + y;

    </script>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $("#dpid, #dpid1, #dpid2").datepicker({
                format: "dd/mm/yyyy",
            });
        });
    </script>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            //Dropdownlist Selectedchange event
            $("#District_Id").change(function () {
                $("#Taluka_Id").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetTaluka")', // we are calling json method

                    dataType: 'json',

                    data: { id: $("#District_Id").val() },
                    // here we are get value of selected country and passing same valueas inputto json method GetStates.

                    success: function (Taluka) {
                        // states contains the JSON formatted list
                        // of states passed from the controller

                        $.each(Taluka, function (i, Talu) {
                            $("#Taluka_Id").append('<option value="' + Talu.Value + '">' + Talu.Text + '</option>');
                            // here we are adding option for States

                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                });
                return false;
            })

            $("#Taluka_Id").change(function () {
                $("#Village_Id").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetVillage")', // we are calling json method

                    dataType: 'json',

                    data: { id: $("#Taluka_Id").val() },
                    // here we are get value of selected country and passing same valueas inputto json method GetStates.

                    success: function (Village) {
                        // states contains the JSON formatted list
                        // of states passed from the controller

                        $.each(Village, function (i, Vil) {
                            $("#Village_Id").append('<option value="' + Vil.Value + '">' + Vil.Text + '</option>');
                            // here we are adding option for States

                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                });
                return false;
            })
        });
    </script>
    


}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
