﻿@model WebDcr.EDM.Tbl_DCR_Master

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tbl_DCR_Master</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Applicant_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Applicant_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address_Corr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address_Corr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address_Land)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address_Land)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Applicant_Interest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Applicant_Interest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plot_Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plot_Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Land_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Land_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tps_NameNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tps_NameNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevenueVillage_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevenueVillage_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GamtalCS_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GamtalCS_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sector_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sector_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OP_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OP_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FP_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FP_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subplot_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subplot_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tenament_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tenament_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City_Servey_Ward_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City_Servey_Ward_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Abutting_Road_Width)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abutting_Road_Width)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPlot_Approved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPlot_Approved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DetailsofApproval)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetailsofApproval)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mean_Sea_Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mean_Sea_Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Drc_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Drc_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Drc_Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Drc_Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Drc_Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Drc_Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aerodrome_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aerodrome_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AeroDistance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AeroDistance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AeroDistanceFunnel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AeroDistanceFunnel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AirportPermises)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirportPermises)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObtainedPermission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObtainedPermission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Existing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Existing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proposed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proposed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.East_OtherDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.East_OtherDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.East_SubDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.East_SubDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.East_WidthOfRoad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.East_WidthOfRoad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.West_OtherDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.West_OtherDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.West_SubDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.West_SubDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.West_WidthOfRoad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.West_WidthOfRoad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.North_OtherDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.North_OtherDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.North_SubDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.North_SubDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.North_WidthOfRoad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.North_WidthOfRoad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.South_OtherDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.South_OtherDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.South_SubDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.South_SubDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.South_WidthOfRoad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.South_WidthOfRoad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seismic_Zone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seismic_Zone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Water_Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Water_Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Drainage_Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Drainage_Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City_Network)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City_Network)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Percolation_Pit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Percolation_Pit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Percolating_Well)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Percolating_Well)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recharge_Pit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recharge_Pit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SolidWaste_Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SolidWaste_Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElectricFacility_Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElectricFacility_Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Common_Basement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Common_Basement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubType_Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubType_Detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_Unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Max_No_Floor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Max_No_Floor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Max_Building_Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Max_Building_Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_BuiltUp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_BuiltUp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pro_SubType_Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pro_SubType_Detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pro_Total_Unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pro_Total_Unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pro_Max_No_Floor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pro_Max_No_Floor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pro_Max_Building_Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pro_Max_Building_Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pro_Total_BuiltUp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pro_Total_BuiltUp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arc_Lic_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arc_Lic_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arc_Lic_ExpDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arc_Lic_ExpDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arc_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arc_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stru_Lic_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stru_Lic_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stru_Lic_ExpDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stru_Lic_ExpDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stru_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stru_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clerk_Lic_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clerk_Lic_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clerk_Lic_ExpDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clerk_Lic_ExpDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clerk_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clerk_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResonForUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResonForUpdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_BodyRegion.BodyRegion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_BodyRegion.BodyRegion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_BuildingType_List.BuildingType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_BuildingType_List.BuildingType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_DevelopmentArea_List.DevelopmentArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_DevelopmentArea_List.DevelopmentArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_District_List.District)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_District_List.District)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_DrainageFacility_List.DrainageFacility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_DrainageFacility_List.DrainageFacility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_ElectricityFacility_List.Electricity_Facility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_ElectricityFacility_List.Electricity_Facility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_LandSubUseDetail_List.LandSub_Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_LandSubUseDetail_List.LandSub_Detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_LandSubUseDetail_List1.LandSub_Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_LandSubUseDetail_List1.LandSub_Detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_LandUseDetail_List.Land_Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_LandUseDetail_List.Land_Detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_LandUseDetail_List1.Land_Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_LandUseDetail_List1.Land_Detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_PermissionType_List.Permission_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_PermissionType_List.Permission_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Site_List.Site_Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Site_List.Site_Detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Site_List1.Site_Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Site_List1.Site_Detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Site_List2.Site_Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Site_List2.Site_Detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Site_List3.Site_Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Site_List3.Site_Detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_SolidWasteDisposalFacility_List.Solid_Waste)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_SolidWasteDisposalFacility_List.Solid_Waste)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_SpecialControlArea_List.SpeacialControl_Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_SpecialControlArea_List.SpeacialControl_Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_SpecialRoad_List.Special_Road)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_SpecialRoad_List.Special_Road)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Taluka_List.Taluka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Taluka_List.Taluka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_TypeCase_List.Type_Case)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_TypeCase_List.Type_Case)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Village_List.Village)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Village_List.Village)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_WaterSupplyFacility_List.WaterSupply)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_WaterSupplyFacility_List.WaterSupply)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Zone_List.Zone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Zone_List.Zone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Document.Doc_Noc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Document.Doc_Noc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Applicant_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
