﻿@model IEnumerable<WebDcr.EDM.Tbl_DCR_Master>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Applicant_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address_Corr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address_Land)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Applicant_Interest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plot_Area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Land_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tps_NameNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RevenueVillage_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GamtalCS_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sector_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OP_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FP_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subplot_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tenament_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City_Servey_Ward_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Abutting_Road_Width)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPlot_Approved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DetailsofApproval)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mean_Sea_Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Drc_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Drc_Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Drc_Area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aerodrome_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AeroDistance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AeroDistanceFunnel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AirportPermises)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ObtainedPermission)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Existing_Vacant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proposed_Vacant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.East_OtherDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.East_SubDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.East_WidthOfRoad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.West_OtherDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.West_SubDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.West_WidthOfRoad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.North_OtherDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.North_SubDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.North_WidthOfRoad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.South_OtherDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.South_SubDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.South_WidthOfRoad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seismic_Zone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Water_Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Drainage_Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City_Network)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Percolation_Pit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Percolating_Well)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recharge_Pit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SolidWaste_Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElectricFacility_Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Common_Basement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubType_Detail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total_Unit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Max_No_Floor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Max_Building_Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total_BuiltUp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pro_SubType_Detail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pro_Total_Unit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pro_Max_No_Floor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pro_Max_Building_Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pro_Total_BuiltUp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arc_Lic_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arc_Lic_ExpDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arc_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stru_Lic_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stru_Lic_ExpDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stru_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clerk_Lic_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clerk_Lic_ExpDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clerk_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResonForUpdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_BodyRegion.BodyRegion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_BuildingType_List.BuildingType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_DevelopmentArea_List.DevelopmentArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_District_List.District)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_DrainageFacility_List.DrainageFacility)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_ElectricityFacility_List.Electricity_Facility)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_LandSubUseDetail_List.LandSub_Detail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_LandSubUseDetail_List1.LandSub_Detail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_LandUseDetail_List.Land_Detail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_LandUseDetail_List1.Land_Detail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_PermissionType_List.Permission_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_Site_List.Site_Detail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_Site_List1.Site_Detail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_Site_List2.Site_Detail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_Site_List3.Site_Detail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_SolidWasteDisposalFacility_List.Solid_Waste)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_SpecialControlArea_List.SpeacialControl_Area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_SpecialRoad_List.Special_Road)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_Taluka_List.Taluka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_TypeCase_List.Type_Case)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_Village_List.Village)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_WaterSupplyFacility_List.WaterSupply)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_Zone_List.Zone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_Document.Doc_Noc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Applicant_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address_Corr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address_Land)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Applicant_Interest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plot_Area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Land_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tps_NameNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RevenueVillage_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GamtalCS_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sector_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OP_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FP_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subplot_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tenament_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City_Servey_Ward_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Abutting_Road_Width)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPlot_Approved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DetailsofApproval)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mean_Sea_Level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Drc_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Drc_Owner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Drc_Area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aerodrome_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AeroDistance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AeroDistanceFunnel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AirportPermises)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ObtainedPermission)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Existing_Vacant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proposed_Vacant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.East_OtherDetail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.East_SubDetail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.East_WidthOfRoad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.West_OtherDetail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.West_SubDetail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.West_WidthOfRoad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.North_OtherDetail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.North_SubDetail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.North_WidthOfRoad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.South_OtherDetail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.South_SubDetail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.South_WidthOfRoad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seismic_Zone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Water_Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Drainage_Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City_Network)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Percolation_Pit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Percolating_Well)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recharge_Pit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SolidWaste_Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElectricFacility_Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Common_Basement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubType_Detail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total_Unit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Max_No_Floor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Max_Building_Height)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total_BuiltUp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pro_SubType_Detail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pro_Total_Unit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pro_Max_No_Floor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pro_Max_Building_Height)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pro_Total_BuiltUp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Arc_Lic_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Arc_Lic_ExpDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Arc_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stru_Lic_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stru_Lic_ExpDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stru_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clerk_Lic_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clerk_Lic_ExpDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clerk_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResonForUpdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_BodyRegion.BodyRegion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_BuildingType_List.BuildingType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_DevelopmentArea_List.DevelopmentArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_District_List.District)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_DrainageFacility_List.DrainageFacility)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_ElectricityFacility_List.Electricity_Facility)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_LandSubUseDetail_List.LandSub_Detail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_LandSubUseDetail_List1.LandSub_Detail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_LandUseDetail_List.Land_Detail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_LandUseDetail_List1.Land_Detail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_PermissionType_List.Permission_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_Site_List.Site_Detail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_Site_List1.Site_Detail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_Site_List2.Site_Detail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_Site_List3.Site_Detail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_SolidWasteDisposalFacility_List.Solid_Waste)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_SpecialControlArea_List.SpeacialControl_Area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_SpecialRoad_List.Special_Road)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_Taluka_List.Taluka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_TypeCase_List.Type_Case)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_Village_List.Village)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_WaterSupplyFacility_List.WaterSupply)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_Zone_List.Zone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_Document.Doc_Noc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Applicant_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Applicant_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Applicant_Id })
        </td>
    </tr>
}

</table>
